.home-page {
	height: 100%;
	width:  auto;
}

.banner-container {
	height: 200px;
	line-height: 100px;
	text-align: center;
	background-color: #c1c1c1;
}

.banner-content {
	font-size: 85px;	
}

.banner-date {
	font-size: 65px;	
}

.announcement-container {
	margin: 20px auto;
	width: 80%;
}