.manager-page-container {
	height: 100%;
	width: auto;
}

.manager-page-content {
	margin: 0px auto;
	padding: 0px;
	height: 88%;
}

.manager-page-navigation-content {
	height: 5.2%;
}

.manage-user-container {
	height: 85.5%;
}

.manage-user-content {
	height: 85.5%;
	margin: 5% 4%;
}

.user-list {
	border-right: 1px dotted gray;
	float: left;
	height: 700px;
	width: 	15%;
	overflow: scroll;
}

.user-content {
	border-left: 1px dotted gray;
	display: flex;
	max-height: 700px;
	overflow: scroll;
	padding: 10px;
}

.user-wrapper > span > span > span > div > img {
	max-width: 55px;
	max-height: 55px;
	width: auto;
	height: auto;
	left: -8px;
}

.employee-content {
	height: 700px;
	width: 80%;
	float: right;
}

.employee-tabs {
	height: 50px;
}

.employee-report {
	height: 650px;
}

.report-dropdown {
	max-width: 300px;
	width: 100%;
}

.dropdown-container {
	display: flex;
}

.dropdown-content {
	width: 100%;
}

.dropdown-content > strong {
	float: left;
	margin: 0 0 0 10px;
}

.dropdown-content > small {
	float: right;
	margin: 3px 10px 0 0;
}

.report-container {
	height: 569px;
	border: 1px dotted gray;
}

.report-content {
	height: 600px;
	width: 98%;
	margin: 8.5px 1%;
	text-align: left;
	overflow-y: scroll;
}

.employee-students {
	height: 95%;
	margin: 2.5%;
}

.add-student-button {
	margin: 0 auto;
}

.remove-student-button {
	float: left;
	margin: 0 2%;
}

.student-list-container {
	height: 100%;
	width: 50%;
	float: left;
}

.unassigned-student-container {
	border-left: 1px dotted gray;
	height: 100%;
	width: 25%;
	float: right;
}

.unassigned-student-list {
	margin: 30px 0;
}

.left-content {
	float: left;
	width: 60%;
}

.right-content {
	border-left: 1px dotted gray;
	float:right;
	height: 100%;
	width: 30%;
	margin: 0 0 0 10%;
	padding: 20px 5px;
}