.teacher-page-container {
	height: 100%;
}

.teacher-page-content {
	margin: 0px auto;
	padding: 0px;
	height: 88%;
}

.teacher-page-tabs {
	height: 5%;
}

.teacher-page-main {
	height: 95%;
}

.teacher-page-center {
	height: 100%;
	width:85%;
	float:left;
}

.teacher-page-left {
	height: 100%; 
	width: 15%;
	float: left;
	border-right: 1px dotted gray;
}

.teacher-page-list {
	float: left;
	height: 60%;
	overflow: scroll;
}

.teacher-page-list-bottom {
	float: left;
	width: 90%;
	margin: 0 5%;
	border-top: 1px dotted gray;
}

.teacher-page-dialog {
	width: 500px;
}

.teacher-page-right {
	height: 100%; 
	width: 85%;
	float: left;
}