.userpage-container {
	height: 100%;
	width: auto;
 }

.userpage-content {
  background-color: rgba(168, 215, 255, 0.45);
  margin: 100px auto;
  padding: 0px;
  width: 1335px;
  height: 950px;
  border: 1px rgba(91, 154, 207, 0.55) solid;
 }

.userpage-header {
	background-color: rgba(209, 75, 17, 0.8);
	height: 145px;
	width: 100%;
	position: relative;
}
	.upper-header {
		position: relative;
		height: 145px;
		width: 100%;
	}

	.userpage-avatar-container {
		float:left;
    height: 145px;
    width: 15%;
	}
		.userpage-avatar-box {
			width: 200px;
			height: 200px;
			margin: 0 0 0 20px;
			border-radius: 10%;
			top: 30px;
			padding: 2.0px;
			position: relative;
			background-color: white;
			z-index: 1;
		 }

		.userpage-avatar-box-bottom {
			width: 196px;
			height: 196px;
			border-radius: 10%;
			overflow: hidden;
		}

			.avatar {
				width:100%;
			}

		.user-info-container {
			width: 500px;
	    margin: 3% 0 0 3%;
	    height: 100%;
	    float: left;
	    text-align: left;
		}

	.userpage-navigation-container {
		background-color: white;
    height: 50px;
    width: 	100%;
    padding: 0 200px 0 250px;
    position: relative;
	}

		.userpage-navigation-content {
			height: 50px;
			width: 100%;
			float: left;
			position: relative;
			top: -38px;
		}

	.userpage-main-content {
		height: 700px;
    width:  96%;
    position: relative;
    top: 60px;
    margin: auto;
	}
		.dialog-container {
			max-height: 80%;
			overflow-y: scroll;
		}
/*
	UserFeed.js
*/
	.mail-boxes {
		background-color: white;
		float:left;
		width:15%;
	}
		.mail-box {
			color: #114b80 !important;
			height: 40px;
			margin: 5px 5%;
			width: 90%;
		}

		.mail-box:hover {
			background-color: rgba(255, 177, 143, 0.8) !important;
		}

		.mail-box-active {
			background-color: rgb(243, 148, 107) !important;
			height: 40px;
			margin: 5px 5%;
			width: 90%;
		}

	.mail-content {
		float: left;
		margin: 0 2.5%;
		width: 80%;
	}

	.mail-snippets {
		background-color: #000;
		height: 650px;
		width: 15%;
		overflow: hidden;
		overflow-y: scroll;
	}

	::-webkit-scrollbar {
	    width: 2px;
	}

	/* Track */
	::-webkit-scrollbar-track {
	    background-clip: content-box;   /* THIS IS IMPORTANT */
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
	    background: #c3c3c3;
	}

		.mail-snippet-container {
			margin: 3px 0px;
			height: 40px;
			width: 100%;
			overflow: hidden;
			background-color: #fff;
		}

		.mail-snippet-container:hover {
			cursor: pointer;
			margin: 3px 0px;
			height: 40px;
			width: 100%;
			overflow: hidden;
			background-color: #fff;
		}

			.snippet-from {
				float: left;
				margin: 0 70px 0 15px;
				text-align: left;
				line-height: 40px;
				width: 10%;
				height: 100%;
				overflow: hidden;
			}

			.snippet-content {
				float: left;
				text-align: left;
				line-height: 40px;
				width: 65%;
				height: 100%;
				overflow: hidden;
			}

			.snippet-date {
				float: left;
				font-size: 10px;
				margin: 0 15px 0 0;
				text-align: right;
				line-height: 40px;
				width: 15%;
				height: 100%;
				overflow: hidden;
			}

/*
	UserPictures.js
*/
.image-gallery-sidebar {
	height: 570px;
	width: 14.5%;
	float: left;
}

.picture-button {
	width: 180px;
	margin: 0 auto 20px auto;
}

.image-gallery-container {
	border: 1px solid gray;
	height: 90%;
	width: 80.5%;
	margin: -10px 10px 0 0;
	padding: 5px;
	float: right;
	overflow-y: scroll;
}

.ReactGridGallery {
	overflow-y: scroll !important;
	width:  963px !important;
	margin: auto !important;
}

.tile-viewport > img {
	cursor: pointer;
  margin-left: 0px;
  margin-top: 0px;  
  width: auto !important;
}

.image-preview-container {
	margin: 0 auto;
	height: 200px;
	width: 300px;
}

.image-preview {
	width: auto;
}

.file-input {
}