/*
	Reset css
*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}

.row {
  padding: 0;
  margin: 0;
}

.app-body {
  background-color: #fff;
  height: 100vh;
  width:  100vw;
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.snackbar {
  bottom: 0px;
  height: 80px;
  position: absolute;
  width: 100%;
}