.selectRequest {
	padding: 0 0 0 20px;
}

.requestForm {
	background-color: rgba(128, 128, 128, 0.19);
  height: 175px;
  padding: 20px;
}

.postTable {
	background-color: rgba(128, 128, 128, 0.19);
  height: auto;
  margin: 20px 0 0 0;
  padding: 20px;
}

.post {
	background-color: #d2d0d0;
	margin: 10px 0px;
	padding: 5px 10px;
}

.postTitle {
	margin: auto;
	padding: 5px;
}

.postBody {
	background-color: #fff;
	margin: 0;
	padding: 10px;
}

.postAuthor {
	margin: 5px 0px;
	font-weight: 400;
}